.linkList {
  height: 300px;
  width: 300px;
  background-color: red;
}

.taskContainerBox {
  height: 400px;
  width: 600px;
  background-color: rgb(5, 218, 255);
  margin: 0px 50px 0px 0px;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-family: sans-serif;
}
.employeesContainerBox {
  height: 400px;
  width: 600px;
  background-color: rgb(5, 218, 255);
  margin: 0px 0px 0px 50px;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-family: sans-serif;
}
