.linkList {
  height: 300px;
  width: 300px;
  background-color: red;
}

.navContainer {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 140, 0);
  border-bottom-style: solid;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.taskContainer {
  height: 50px;
  width: 300px;
  margin: 25px 50px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a7e53d;
  border-style: solid;
  font-family: sans-serif;
}

.taskContainer:hover {
  animation: pulse 1s infinite ease-in-out;
  cursor: pointer;
}

.employeesContainer {
  height: 50px;
  width: 300px;
  margin: 25px 0px 0px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a7e53d;
  border-style: solid;
  font-family: sans-serif;
}

.employeesContainer:hover {
  animation: pulse 1s infinite ease-in-out;
  cursor: pointer;
}

.boxNavContainer {
  width: 100vw;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.taskContainerBox {
  height: 400px;
  width: 600px;
  background-color: rgb(5, 218, 255);
  margin: 0px 50px 0px 0px;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-family: sans-serif;
}
.employeesContainerBox {
  height: 400px;
  width: 600px;
  background-color: rgb(5, 218, 255);
  margin: 0px 0px 0px 50px;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-family: sans-serif;
}
